sympy
numpy
pandas
scipy
matplotlib
# arviz
# auto_mix_prep
# empiricaldist
# empiricaldist
# html5lib
# jupyter
# jupyter
# lxml
# nbclassic
# networkx
# pymc3
# pytest
# pytest
# redis
# scikit-learn
# scipy
# seaborn
# statsmodels
# statsmodels
# tables
# tables
# xlrd